version: '2'

services:
  openrct2:
    image: snowmb/openrct2docker:latest
    ports: 
      - ${PORT}:11753
    volumes:
      - ${GAME_FOLDER}:/openrct2/original_files/
      - ${CONFIG_FOLDER}:/root/.config/OpenRCT2/
      - ${SAVEGAME}:/openrct2/game.sc6
